.foundPassword {
	height: 889px;
	width: 100%;
	background: #F5F7FC;
	overflow: hidden;
}

.foundPassword_content {
	width: 400px;
	height: 299px;
	margin: 180px auto 0;
}

.foundPassword_content_title {
	font-size: 24px;
	color: #061C3F;
	line-height: 36px;
}
.foundPassword_content_info{
	font-size: 16px;
color: #54698D;
line-height: 20px;
margin-top:10px;
}
.foundPassword_content_info strong{
	font-family: Helvetica-Bold;
font-size: 16px;
color: #060000;
line-height: 20px;
}
.foundPassword_content_sendCode{
	height:20px;
	width:380px;
	padding:12px 10px;
	border-bottom:1px solid #D8DDE6;
	display: flex;
	justify-content: space-between;
	margin-top:48px;
}
.foundPassword_content_sendCode input{
	border:none;
	outline: none;
	background:none;
	width:200px;
	display: inline-block;
	height:20px;
}