.forgotPassword {
	height: 889px;
	width: 100%;
	background: #F5F7FC;
	overflow: hidden;
}

.forgotPassword_content {
	width: 400px;
	height: 299px;
	margin: 180px auto 0;
}

.forgotPassword_content_h5 {
	display: inline-block;
	font-size: 24px;
	color: #061C3F;
	line-height: 36px;
}

.forgotPassword_content_p {
	display: block;
	font-size: 16px;
	color: #54698D;
	line-height: 20px;
}

.forgotPassword_content_inputCode {
	height: 20px;
	width: 380px;
	padding: 12px 10px;
	border-bottom: 1px solid #D8DDE6;
	display: flex;
	justify-content: space-between;
	margin-top: 68px;
}

.forgotPassword_content_inputCode input {
	border: none;
	outline: none;
	background: none;
	width: 360px;
	display: inline-blockblock;
	height: 20px;
	font-size: 14px;
	color: #A8B7C7;
	line-height: 20px;
}

.forgotPassword_content_button {
	margin-top: 80px;
	width: 400px;
	height: 40px;
	background: #516ADE;
	border-radius: 2px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	color: #FFFFFF;
}